<launch>
  <include file="$(find suturo_manipulation_action)/launch/move_action_server.launch" />

  <include file="$(find suturo_perception_rosnode)/run_pr2.launch" />

  <include file="$(find suturo_knowledge_foodreasoner)/launch/suturo_knowledge_foodreasoner.launch" />

  <node name="repl" pkg="roslisp_repl" type="repl" />
</launch>
